.full_item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}

.full_item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

.full_item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}

.full_item img:hover {
    transform: scale(1.05);
    border-radius: 10px 10px 0 0;
}

.full_item h2,
.full_item p,
.full_item b {
    margin: 10px 20px;
    color: #333;
}

.full_item b {
    color: #5fa36a;
}

.full_item .addToCart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    border: none;
}

.full_item .addToCart:hover {
    transform: scale(1.5) translateY(-5px);
}

.close_button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #d9d6d6;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: opacity 500ms ease;
}

.close_button:hover {
    opacity: 0.5;
}