.header {
    position: relative;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

.nav {
    float: right;
    list-style: none;
}

.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

.nav li:hover {
    opacity: 0.5;
}

.amount_orders {
    display: inline-block;
    position: absolute;
    top: -9px;
    right: 280px;
    font-size: 10px;
    color: #ffffff;
    background-color: red;
    border-radius: 50%;
    width: 13px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
}

.shop_cart_button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.shop_cart_button:hover,
.shop_cart_button.active {
    color: #dc3d3d;
}

.shop_cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}

.shop_cart_empty h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.sum_orders {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.presentation {
    margin: 50px 0;
    background: url('./../../common/img/bg.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.presentation:after {
    content: 'Лучшие товары для вашего дома';
    position: absolute;
    top: 25px;
    left: 160px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.presentation:before {
    content: 'по низким ценам';
    position: absolute;
    top: 175px;
    left: 160px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

